.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://giffiles.alphacoders.com/139/13998.gif");
    background-size: cover;
    background-position: center;
    padding: 0 1rem;
    text-align: center;
  }
  
  .error-text {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .error-text {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 480px) {
    .error-text {
      font-size: 1.5rem;
    }
  }
  
